#context-menu {
  position: fixed;
  z-index: 10000;
  width: 200px;
  background-color: #1b1a1a;
  border-radius: 5px;
  transform: scale(0);
  transform-origin: top left;
}

#context-menu.visible {
  transform: scale(1);
  transition: 200ms ease-in-out;
}

#close-context-menu-span {
  float: right;
  padding: 7px 7px 0;
}

#context-menu-items-div {
  clear: right;
}

.context-menu-item {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 13px;
  color: #eee;
  cursor: pointer;
  border-radius: inherit;
}

.context-menu-item:hover {
  background-color: #343434;
}

.context-menu-item.invisible {
  display: none;
}

.context-menu-item img {
  width: 15%;
}

.context-menu-item span {
  padding-left: 15px;
}
