footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: tan;
}
