@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Kdam+Thmor+Pro&display=swap");

header {
  display: grid;
  grid-template-columns: 15% 75% 10%;
  background-color: black;
  color: white;
  align-items: center;
  height: 70px;
}

#logo-span {
  font-family: "East Sea Dokdo", cursive;
  font-size: 3.5rem;
  text-align: center;
}

#header-images-span {
  display: flex;
  height: inherit;
  padding: 15px;
  align-items: center;
}

header img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#timer-span {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 1.2rem;
}
