#item-selection-feedback {
  position: fixed;
  z-index: 10000;
  margin-top: 90px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  padding: 17px;
  text-align: center;
  font-size: 1.2rem;
  display: none;
  /* transform: scale(0);
      transform-origin: top left; */
}

#item-selection-feedback.visible {
  display: block;
}

.item-found-feedback {
  background-color: #edf7ed;
  color: #1e4620;
}

.item-not-found-feedback {
  background-color: #fdeded;
  color: #5f2120;
}
